<div class="min-h-screen bg-base-200 p-6">
  <div class="flex flex-col gap-4 max-w-7xl mx-auto">
    <!-- Información del cliente -->
    <cliente-info-detalle></cliente-info-detalle>

    <!-- Cartas con indicadores -->
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
      <card></card>
      <card></card>
      <card></card>
      <card></card>
      <card></card>
      <card></card>
      <card></card>
      <card></card>
    </div>

    <!-- Gráfica con tendencia de compra -->
    <tendencia-chart></tendencia-chart>

    <!-- Panel con las preferencias del cliente -->
    <cliente-preferencias-detalle></cliente-preferencias-detalle>

    <!-- Movimientos del cliente -->
    <table-movimientos></table-movimientos>
  </div>
</div>
